.demo {
  width: var(--max-width);
  max-width: 95vw;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 8px -2px var(--text-color);
  text-align: center;
  padding-bottom: 25px;
  button {
    cursor: pointer;
    padding: 10px 30px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.code {
  font-family: var(--font-mono);
}
